@import '../variables'

.widget
  padding: 0
  text-align: justify
  background: $accent-color
  max-width: 300px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: stretch
.widget-name
  font-size: 1.5rem
  font-weight: bold
  margin: 0
.widget-header
  padding: 1rem
.widget-content
  padding: 0 1rem
.meta-data
  display: flex
  gap: .5rem
  justify-content: center
  align-items: center
.widget-footer
  color: $alt-text-color
  display: flex
  gap: .5rem
  justify-content: center
  align-items: center
  padding: 1rem
  background: $dark-color
  border-radius: 0 0 $border-radius $border-radius